@import url(index.css);

h2 {
    padding: 1rem;
}

.feedback-box {
    display: grid;
    height: 150vh;
    grid-template-rows: repeat(4, 1fr 15fr) 5%;
    row-gap: 1.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    background-color: white;
    box-shadow: 0.5px 0.5px 3px;
}

.button-box {
    align-items: flex-end;
    margin-top: 0.5rem;
}

button {
    width: 25%;
}

textarea {
    font-family:"Merriweather Sans";
    width: 70vw;
    resize: none;
    border-style: hidden;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
}

.tab, .navbar-title {
    background-color: #557BB5;
}

.tab:hover {
    background-color: #385e96;
}