/* default selectors */

body {
    font-family: 'Merriweather Sans';
    color: #444;
    display: grid;
    grid-template-rows: 7vh auto 15vh;
    justify-items: center;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

main {
    margin-top: 0;
    width: 80vw;
}

@media screen and (max-width: 430px) {
    main {
        width: 85vw;
    }
}

footer {
    color: white;
    background-color: #444;
    width: 100vw;
    height: 15vh;
    text-align: center;
    align-self: end;
}

h1 {
    font-family: 'Merriweather Sans';
    padding: 1rem;
    text-align: left;
}

.home-title {
  
    color: white;
    background-color: #565EB6;
    display: grid;
    grid-template-columns: 60% auto;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

select {
    border-style: hidden;
    border-bottom: solid;
    border-color: #444;
    margin-bottom: 2rem;
    font-family: 'Merriweather Sans';
    color: #444;
}

/* description boxes */

.description-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem 1rem;
    margin-bottom: 2rem;
}

.description-grid-box {
    padding: 1rem;
    justify-content: center;
    background-color: white;
    box-shadow: 0.5px 0.5px 3px;
}

.button-box {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

button {
    background-color:rgb(210, 210, 210);
    padding: 12px 16px;
    border-style: hidden;
    border-radius: 1.5rem;
    font-family: 'Merriweather Sans';
    color: #444;
}

button:hover {
    background-color: rgb(160, 160, 160);
}

@media screen and (max-width: 768px) {
    .description-grid {
        grid-template-columns: 1fr;
        margin: 0;
        margin-bottom: 1rem;
    }
    .description-grid-box {
        width: 80vw;
    }
    html {
        font-size: 80%;
    }
}

a {
    color: #444;
}

footer a {
    color: white;
}

a:hover {
    text-shadow: 0.5px 0.5px 0.5px #9b9b9b;
}

/* Nav bar */
.navbar {
  z-index: 2;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 17% 73% 10%/* 3 columns with equal width */
}

.tab-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.tab {
  display: block;
  background-color: rgb(137, 171, 255);
  color: white;
  font-family: 'Merriweather Sans';
  font-size: large;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.navbar-filler {
  display: none;
  background-color: rgb(137, 171, 255);
}

.navbar-title {
  display: block;
  background-color: rgb(137, 171, 255);
  color: white;
  font-family: 'Merriweather Sans';
  font-size: large;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.tab:hover {
  background-color: rgb(104, 129, 251);
}

.tab-profile:hover {
  background-color: rgb(104, 129, 251);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  text-align: center;
  min-width: 100%;
  z-index: 1;
}

.dropdown-content-mobile {
  display: none;
  background-color: rgb(211, 211, 211);
  color: white;
  font-family: 'Merriweather Sans';
  font-size: large;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.dropdown-content a {
  background-color:rgb(211, 211, 211);
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(161, 161, 161);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-tab {
  display: block;
  background-color: rgb(211, 211, 211);
  color: black;
  font-family: 'Merriweather Sans';
  font-size: large;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.dropdown-tab:hover {
  background-color: rgb(161, 161, 161);
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-tab {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(137, 171, 255);
}

.profile-icon-container {
  display: inline-block;
  width: 46.8px;
  height: 46.8px;
  max-height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.profile-icon-container img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-container:hover .dropdown-content {
  display: block;
}

.tab-profile {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50% 1fr;
  }

  .navbar-title {
    text-align: left;
  }

  .navbar-filler {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .profile-tab {
    justify-items: right;
    margin-right: 20px;
  }

  .menu-button {
    display: inline-block;
    padding-right: 15px
  }

  .menu-bar1, .menu-bar2, .menu-bar3 {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .tab {
    background-color: rgb(115, 153, 250);
  }

  .tab-grid {
    display: none;
  }

  .tab-profile {
    display: block;
    background-color: rgb(115, 153, 250);
    color: white;
    font-family: 'Merriweather Sans';
    font-size: large;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }

  .menuButtonOnClick .menu-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .menuButtonOnClick .menu-bar2 {
    opacity: 0;
  }

  .menuButtonOnClick .menu-bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .tab-grid.tabGridAppear {
    grid-row: 2;
    grid-column: 1 / span2 2; 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr) /* 3 columns with equal width */
  }

  .showDropdown {
    display: inline-block;
  }

  .closeDropdown {
    display: none;
  }
}