@import url(student_grades.css);

tr {
    grid-template-columns: repeat(3, 1fr);
}

button {
    border: 0;
    border-radius: 0.5rem;
    height: 2rem;
    font-family: 'Merriweather Sans';
}

.add-btn {
    background-color: rgb(14, 48, 98);
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-btn:hover {
    background-color: rgb(46, 94, 164);
}

.add-grade-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 48, 98);
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgb(90, 90, 90);
    color: white;
    padding: 1vw;
}

.add-grade-form {
    width: 100%;
    align-items: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

input {
    font-family: 'Merriweather Sans';
    border-style: hidden;
    border-bottom: solid;
    border-color: white;
    color: white;
    background-color: inherit;
    min-width: 80%;
    min-height: 2rem;
}

::placeholder {
    color: white;
}

input:focus {
    outline: none;
}

.button-box {
    align-self: flex-end;
}


.content-header {
    display: grid;
    width: 100%;
    grid-template-columns: 90% 10%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.close-button {
    display: flex;
    justify-content: flex-end;
    border: none;
    appearance: none;
    background-color: inherit;
    width: auto;   
    padding: 0;
}

.close-button:hover {
    background-color: inherit;
}