@import url(index.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
}

.sign-in-desc-box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30vw;
    height: auto;
    justify-content: center;
    background-color: rgb(14, 48, 98);
    color: white;
    text-wrap: balance;
    text-align: left;
    box-shadow: 1px 1px 5px black;
}

.sign-in-box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30vw;
    height: auto;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 5px;
    text-align: center;
}

img {
    max-height: 30%;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

label {
    margin: 0;
    margin-bottom: 0.2rem;
    align-self: flex-start;
    font-size: 90%;
}

select {
    border-style: hidden;
    border-bottom: solid;
    border-color: #444;
    margin-bottom: 2rem;
    font-family: 'Merriweather Sans';
    color: #444;
}

input {
    border-style: hidden;
    border-bottom: solid;
    border-color: #444;
    min-width: 3rem;
    min-height: 2rem;
    margin-bottom: 2rem;
}

input:focus {
    outline: none;
}

.button-box {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

button {
    border-style: hidden;
    border-radius: 1.5rem;
    font-family: 'Merriweather Sans';
    color: #444;
}

ul {
    font-size: 85%;
    margin: 0;
}

li {
    margin: 1rem;
}

p {
    font-size: 85%;
}

p a {
    color: #444;
}

p a:hover {
    text-shadow: 1px 1px 1px #9b9b9b;
}