@import url(index.css);

h2 {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.description-grid-box {
    display: flex;
    flex-direction: column;
}

.button-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: auto;
}

.button-a {
    text-decoration: none;
    color: black;
}

button {
    word-wrap: break-word;
}

.tab, .navbar-title, .profile-tab, .tab-profile, .navbar-filler {
    background-color: #6C55B5;
}

.tab:hover, .tab-profile:hover {
    background-color: #524289;
}