.left-item {
    justify-self: start;
}

.center-item {
    justify-self: center;
}

.right-item {
    justify-self: right;
}

.description-grid-box {
    width: 70%;
}

.description-grid {
    grid-template-columns: repeat(auto-fill, minmax(50px, vw));
}

@media screen and (max-width: 768px) {
    .description-grid {
      grid-template-columns: 1fr;
    }
  }