header {
    background-color:#8AB1FF;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(137, 171, 255);
    overflow: hidden;
}

li {
    float: left
}

li .tab {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li .active-tab {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

/* Change the link color to #111 (black) on hover */
li .tab:hover {
    background-color: #111;
}

.active-tab {
    background-color: rgb(104, 129, 251);
}