body {
    margin-top: 50px;
    font-family: 'Merriweather Sans';
    color: #444;
    /* 
    If there is not enough content, uncomment this
    display: flex;
    flex-direction: column;
    min-height: 100vh; */
}

.navbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 3 columns with equal width */
}

.tab {
    display: block;
    background-color: rgb(137, 171, 255);
    color: white;
    font-family: 'Merriweather Sans';
    font-size: large;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.navbar-title {
    display: block;
    background-color: rgb(137, 171, 255);
    color: white;
    font-family: 'Merriweather Sans';
    font-size: large;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.tab:hover {
    background-color: rgb(104, 129, 251);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    text-align: center;
    min-width: 100%;
    z-index: 1;
}

.dropdown-content a {
    background-color:rgb(211, 211, 211);
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(161, 161, 161);
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #8AB1FF;
    font-weight: 300;
    width: 100%;
    margin-top: auto;
}

.description-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px 20px;
    margin: 2rem;
}

.description-col-box {
    /* margin: 2rem 20px; */
    /* margin: 2rem; */
    padding: 2rem;
    border: 2px solid #444;
    border-radius: 20px;
    justify-content: center;
}

.description-row {
    margin: 2rem;
    padding: 2rem;
    border: 2px solid #444;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

h1 {
    font-family: 'Merriweather Sans';
    padding: 15px;
    text-align: center;
}

button {
    background-color:rgb(211, 211, 211);
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    max-width: 50%;
}

button:hover {
    background-color: rgb(161, 161, 161);
}