@import url(../static/index.css);

.test-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.h2 {
    text-align: center;
}

.wrapper {
    
}

.description-flex {
    justify-items: center;
}