<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/assignment.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Assignments</title>
</head>
<body>
    <header>
        <div class="navbar">
            <a class="navbar-title" href="#">CSCB20</a>
            <div class="dropdown">
                <a class="tab">Home</a>
                <div class="dropdown-content">
                    <a href="#">Course Description</a>
                    <a href="#">Syllabus</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="tab">Material</a>
                <div class="dropdown-content">
                    <a href="#">Assignments</a>
                    <a href="#">Lectures</a>
                    <a href="#">Labs</a>
                </div>
            </div>
            <a class="tab" href="#">Resources</a>
            <a class="tab" href="#">Calendar</a>
            <div class="dropdown">
                <a class="tab">Contact</a>
                <div class="dropdown-content">
                    <a href="#">Course Team</a>
                    <a href="#">Feedback</a>
                </div>
            </div>
        </div>
    </header>
    <h1>Assignments</h1>
    <div class="description-col">
        <div class="description-col-box left-item">
            <h2 style="text-align: center;">Assignment 1</h2>
            <p style="text-align: center;">due February 14, 23:99 | ~/60 pts</p>
            <p>Weight 8%</p>
            <strong><p>Overview</p></strong>
            <p>As a SQL developer Intern for University of Toronto Health and Safety team,
                write out some relationship schemas, RA and SQL.
            </p>
            <p>Starter code: <a>a1.sql</a></p>
            <p>Submission link: <a href="https://markus.utsc.utoronto.ca/cscb20w22">here</a></p>
        </div>
        <div class="description-col-box center-item">
            <h2 style="text-align: center;">Assignment 2</h2>
            <p style="text-align: center;">due March 15, 23:99 | ~/75 pts</p>
            <p>Weight 12%</p>
            <strong><p>Overview</p></strong>
            <p>In a team of 2 or 3, create a course website for CSCB20 using your expertise
                in HTML and CSS. Webpage must be usable, responsive and visually appealing.
            </p>
            <p>Resources</p>
            <ul>
                <li>CSS flex: <a href="https://internetingishard.netlify.app/html-and-css/flexbox/">flex-box</a></li>
                <li>CSS gird layout: <a href="https://learncssgrid.com/">learn-css-grid</a></li>
                <li>Online sandbox: <a href="https://codepen.io/LandonSchropp/pen/KpzzGo">codepen.io</a></li>
                <li>HTML mockup: <a href="https://gomockingbird.com/home">gomockingbird.com</a></li>
            </ul>
        </div>
        <div class="description-col-box right-item">
            <h2 style="text-align: center;">Assignment 3</h2>
            <p style="text-align: center;">due TBA</p>
        </div>
    </div>
    <footer>
        <p>CSCB20 - Introduction to Web Application and Database</p>
        <a href="https://web.cs.toronto.edu/people/faculty-directory"
          >Department of Computer Science at U of T</a
        >
        <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
    </footer>
</body>
</html>