
{% extends 'template.html' %}
{% block more_css %}
  <link rel="stylesheet" href="static/css/assignment.css" /> 
{% endblock %}
{% block content %}
    <main>
      <h1>Assignments</h1>
      <div class="description-grid">
        <div class="description-grid-box">
          <h2>Assignment 1</h2>
          <p>due February 14, 23:99 | ~/60 pts</p>
          <p>Weight 8%</p>
          <strong><p>Overview</p></strong>
          <p>
            As a SQL developer Intern for University of Toronto Health and
            Safety team, write out some relationship schemas, RA and SQL.
          </p>
          <p>Starter code: <a>a1.sql</a></p>
          <p>
            Submission link:
            <a href="https://markus2.utsc.utoronto.ca/courses/20/assignments"
              >here</a
            >
          </p>
        </div>
        <div class="description-grid-box">
          <h2>Assignment 2</h2>
          <p>due March 15, 23:99 | ~/75 pts</p>
          <p>Weight 12%</p>
          <strong><p>Overview</p></strong>
          <p>
            In a team of 2 or 3, create a course website for CSCB20 using your
            expertise in HTML and CSS. Webpage must be usable, responsive and
            visually appealing.
          </p>
          <p>Resources</p>
          <ul>
            <li>
              CSS flex:
              <a
                href="https://internetingishard.netlify.app/html-and-css/flexbox/"
                >flex-box</a
              >
            </li>
            <li>
              CSS gird layout:
              <a href="https://learncssgrid.com/">learn-css-grid</a>
            </li>
            <li>
              Online sandbox:
              <a href="https://codepen.io/LandonSchropp/pen/KpzzGo"
                >codepen.io</a
              >
            </li>
            <li>
              HTML mockup:
              <a href="https://gomockingbird.com/home">gomockingbird.com</a>
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Assignment 3</h2>
          <p>due TBA</p>
        </div>
      </div>
    </main>
{% endblock %}