{% extends 'user_template.html' %} {% block more_css %}
<link rel="stylesheet" href="../static/css/edit_student_grades.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/instructor_grades.js" defer></script>
{% endblock %} {% block custom_menu %}
<a href="instructor_grades.html"><li>Manage Grades</li></a>
<a href="instructor_remarks.html"><li>View Remark Requests</li></a>
<a href="instructor_feedbacks.html"><li>View Feedbacks</li></a>
{% endblock%} {% block content %}
<main>
  <h1>CSCB20</h1>
  <div class="assessment-list-box">
    <h2>Students</h2>
    <table>
      <thead>
        <th>UTORid</th>
        <th>name</th>
        <th>grades</th>
      </thead>
      <tbody>
        <tr>
          <td>Dummy1234</td>
          <td>Dummy</td>
        </tr>
        {% for info in stu_grade_info %}
        <tr>
          <td style="display: none" class="ass-id">{{ass_info[0]}}</td>
          <td>{{ass_info[1]}}</td>
          <td>{{ass_info[2]}}</td>
          <td>{{ass_info[3]}}</td>
          <td class="manage-grades">
            <button class="manage-grades-btn">Manage Grades</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
