{% extends 'user_template.html' %} {% block more_css %}
<link rel="stylesheet" href="../static/css/edit_student_grades.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/edit_student_grades.js" defer></script>
{% endblock %} {% block custom_menu %}
<a href="manage_grades"><li>Manage Grades</li></a>
<a href="instructor_remarks.html"><li>View Remark Requests</li></a>
<a href="instructor_feedbacks.html"><li>View Feedbacks</li></a>
{% endblock%} {% block content %}
<main>
  <h1>CSCB20</h1>
  <div class="assessment-list-box">
    <h2>{{assessment_name}} - students</h2>
    <table>
      <thead>
        <th>assignment id</th>
        <th>UTORid</th>
        <th>grades</th>
      </thead>
      <tbody>
        {% for info in stu_grade_info %}
        <tr>
          <td class="aid">{{info[1]}}</td>
          <td class="sid">{{info[0]}}</td>
          <td class="edit-grade-box">
            <span class="stu-grade">{{info[2]}}</span>
            <span>/ 100</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
