{% extends 'template.html' %} {% block more_css %}
<link rel="stylesheet" href="static/css/feedback.css" />
{% endblock %} {% block content %}
<main>
  <!-- This is the main body -->
  <h1>Anonymous Feedback</h1>
  <h2>Tell us about your experience with CSCB20!</h2>
  <div class="feedback-box-wraper">
    <div class="feedback-box">
      <label for="question"
        >What do you like about the instructor teaching?</label
      >
      <textarea class="input" rows="30"></textarea>
      <div class="button-box"><button>Submit</button></div>
    </div>
    <div class="feedback-box">
      <label for="question"
        >What do you recommend the instructor to do to improve their
        teaching?</label
      >
      <textarea class="input" rows="30"></textarea>
      <div class="button-box"><button>Submit</button></div>
    </div>
    <div class="feedback-box">
      <label for="question">What do you like about the labs?</label>
      <textarea class="input" rows="30"></textarea>
      <div class="button-box"><button>Submit</button></div>
    </div>
    <div class="feedback-box">
      <label for="question"
        >What do you recommend the lab instructors to do to improve their lab
        teaching?</label
      >
      <textarea class="input" rows="30"></textarea>
      <div class="button-box"><button>Submit</button></div>
    </div>
  </div>
</main>
{% endblock %}
