{% extends 'template.html' %} {% block more_css %}
<link rel="stylesheet" href="static/css/feedback.css" />
{% endblock %} {% block content %}
<main>
  <!-- This is the main body -->
  <h1>Anonymous Feedback</h1>
  <h2>Tell us about your experience with CSCB20!</h2>
  <form action="http://127.0.0.1:5000/feedback" method="POST">
    <label for="user-type">Send the anoymous feedback to</label>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <p style="color:red">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
    <select name="instructor">
      {% for instructor in instructors %}
      <option value={{ instructor.utorid }}>{{ instructor.name }}</option>
      {% endfor %}
    </select>
    <div class="feedback-box">
      <label for="question"
        >What do you like about the instructor teaching?</label
      >
      <textarea
        class="input"
        rows="30"
        name="qs-like-about-instructor"
      ></textarea>
      <label for="question"
        >What do you recommend the instructor to do to improve their
        teaching?</label
      >
      <textarea class="input" rows="30" name="qs-improve-instructor"></textarea>
      <label for="question">What do you like about the labs?</label>
      <textarea class="input" rows="30" name="qs-like-about-lab"></textarea>
      <label for="question"
        >What do you recommend the lab instructors to do to improve their lab
        teaching?</label
      >
      <textarea class="input" rows="30" name="qs-improve-lab"></textarea>
      <div class="button-box"><button type="submit">Submit</button></div>
    </div>
  </form>
</main>
{% endblock %}
