<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSCB20</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- This is the header/navigation bar of the page -->
  <header>
    <div class="navbar">
      <a class="navbar-title" href="../templates/index.html">CSCB20</a>
      <div class="dropdown">
        <a class="tab">Home</a>
        <div class="dropdown-content">
          <a href="#">Course Description</a>
          <a href="#">Syllabus</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="tab">Material</a>
        <div class="dropdown-content">
          <a href="#">Assignments</a>
          <a href="../templates/lectures.html">Lectures</a>
          <a href="#">Labs</a>
        </div>
      </div>
      <a class="tab" href="../templates/resources.html">Resources</a>
      <a class="tab" href="../templates/calendar.html">Calendar</a>
      <div class="dropdown">
        <a class="tab">Contact</a>
        <div class="dropdown-content">
          <a href="#">Course Team</a>
          <a href="#">Feedback</a>
        </div>
      </div>
    </div>
  </header>
  <body></body>
  <footer>
    <p>
      <strong>CSCB20 - Introduction to Web Application and Database</strong>
    </p>
    <a href="https://web.cs.toronto.edu/people/faculty-directory"
      >Department of Computer Science at U of T</a
    >
    <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
  </footer>
</html>
