<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSCB20</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
  </head>
  <body>
    <header>
      <h1>CSCB20</h1>
      <h2>winter 2024</h2>
      <a href="home.html">Home</a>
      <a href="material.html">Material</a>
      <a href="resources.html">Resources</a>
      <a href="calendar.html">Calendar</a>
      <a href="contacts.html">Contacts</a>
    </header>
    <footer>
      <p>CSCB20 - Introduction to Web Application and Database</p>
      <a href="https://web.cs.toronto.edu/people/faculty-directory"
        >Department of Computer Science at U of T</a
      >
      <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
    </footer>
  </body>
</html>
