<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20</title>
    <link rel="stylesheet" href="../static/index.css">
  </head>
  <body>
    <header>
      <ul class="navbar">
        <!--Hello World-->
        <li><a class="navbar-title" href="home.html">CSCB20</a></li>
        <li><a class="active-tab" href="home.html">Home</a></li>
        <li><a class="tab" href="material.html">Material</a></li>
        <li><a class="tab" href="resources.html">Resources</a></li>
        <li><a class="tab" href="calendar.html">Calendar</a></li>
        <li><a class="tab" href="contacts.html">Contacts</a></li>
      </ul>
    </header>
    <footer>
      <p>CSCB20 - Introduction to Web Application and Database</p>
      <a href="https://web.cs.toronto.edu/people/faculty-directory"
        >Department of Computer Science at U of T</a
      >
      <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
    </footer>
  </body>
</html>
