{% extends 'user_template.html' %} {% block more_css %}
<link rel="stylesheet" href="../static/css/instructor_feedbacks.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/instructor_feedbacks.js" defer></script>
{% endblock %} {% block custom_menu %}
<a href="manage_grades"><li>Manage Grades</li></a>
<a href="instructor_remarks.html"><li>View Remark Requests</li></a>
<a href="instructor_feedbacks.html"><li>View Feedbacks</li></a>
{% endblock%} {% block content %}
<main>
  <h1>CSCB20</h1>
  <div class="main-content">
    <h2>Feedback</h2>
    <table>
      <th>What do you like about the instructor teaching?</th>
      <th>What do you recommend the instructor to do to improve their teaching?</th>
      <th>What do you like about the labs?</th>
      <th>What do you recommend the lab instructors to do to improve their lab teaching?</th>
    </table>
    <div class="feedback-display">
      <div class="response-column" id="question-1-column">
        {% for response in rsp_q1 %}
        <div class="response-box">
          <p>{{response}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="response-column" id="question-2-column">
        {% for response in rsp_q2 %}
        <div class="response-box">
          <p>{{response}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="response-column" id="question-3-column">
        {% for response in rsp_q3 %}
        <div class="response-box">
          <p>{{response}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="response-column" id="question-3-column">
        {% for response in rsp_q3 %}
        <div class="response-box">
          <p>{{response}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
