{% extends 'user_template.html' %} {% block more_css %}
<link rel="stylesheet" href="../static/css/instructor_grades.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/instructor_grades.js" defer></script>
{% endblock %} {% block custom_menu %}
<a href="manage_grades"><li>Manage Grades</li></a>
<a href="instructor_remarks.html"><li>View Remark Requests</li></a>
<a href="instructor_feedbacks.html"><li>View Feedbacks</li></a>
{% endblock%} {% block content %}
<main>
  <h1>CSCB20</h1>
  
</main>
{% endblock %}
