{% extends 'user_template.html' %} {% block more_css %}
<link rel="stylesheet" href="../static/css/instructor_grades.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/instructor_grades.js" defer></script>
{% endblock %} {% block custom_menu %}
<a href="manage_grades"><li>Manage Grades</li></a>
<a href="instructor_remarks.html"><li>View Remark Requests</li></a>
<a href="instructor_feedbacks.html"><li>View Feedbacks</li></a>
{% endblock%} {% block content %}
<main>
  <h1>CSCB20</h1>
  <div class="assessment-list-box">
    <h2>Assignment</h2>
    <table>
      <thead>
        <th>name</th>
        <th>date</th>
        <th>manage grades</th>
      </thead>
      <tbody>
        {% for info in ass_info %}
        <tr>
          <td style="display: none" class="ass-id">{{info[0]}}</td>
          <td>{{info[1]}}</td>
          <td>{{info[2]}}</td>
          <td class="manage-grades">
            <button class="ass-manage-grades-btn">Manage Grades</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="assessment-list-box">
    <h2>Exam</h2>
    <table>
      <thead>
        <th>name</th>
        <th>date</th>
        <th>manage grades</th>
      </thead>
      <tbody>
        {% for info in exam_info %}
        <tr>
          <td style="display: none" class="exam-id">{{info[0]}}</td>
          <td>{{info[1]}}</td>
          <td>{{info[2]}}</td>
          <td class="manage-grade">
            <button class="exam-manage-grade-btn">Manage Grades</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
