<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lectures</title>
    <link rel="stylesheet" href="../static/lectures.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- This is the header/navigation bar of the page -->
    <header>
      <div class="navbar">
        <a class="navbar-title" href="../templates/index.html">CSCB20</a>
        <div class="dropdown">
          <a class="tab">Home</a>
          <div class="dropdown-content">
            <a href="#">Course Description</a>
            <a href="#">Syllabus</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="tab">Material</a>
          <div class="dropdown-content">
            <a href="#">Assignments</a>
            <a href="../templates/lectures.html">Lectures</a>
            <a href="#">Labs</a>
          </div>
        </div>
        <a class="tab" href="../templates/resources.html">Resources</a>
        <a class="tab" href="../templates/calendar.html">Calendar</a>
        <div class="dropdown">
          <a class="tab">Contact</a>
          <div class="dropdown-content">
            <a href="#">Course Team</a>
            <a href="#">Feedback</a>
          </div>
        </div>
      </div>
    </header>
    <h1>Lectures</h1>
    <div class="description-row">
      <h2>Week 0: Introduction</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
      </ul>
    </div>
    <div class="description-row">
      <h2>Week 1: Relational Algebra</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
        <li>
          <a href="../dummy_files/Worksheets_Dummy.pdf">Week 1 Worksheet</a>
        </li>
        <li>
          <a href="../dummy_files/Worksheets_solution_Dummy.pdf"
            >Week 1 Worksheet Solution</a
          >
        </li>
      </ul>
    </div>
    <div class="description-row">
      <h2>Week 2: Wrapping up Relational Algebra and starting with SQL</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
        <li>
          <a href="../dummy_files/Worksheets_Dummy.pdf">Week 2 Worksheet</a>
        </li>
        <li>
          <a href="../dummy_files/Worksheets_solution_Dummy.pdf"
            >Week 2 Worksheet Solution</a
          >
        </li>
      </ul>
    </div>
    <div class="description-row">
      <h2>Week 3: SQL Queries</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
        <li>
          <a href="../dummy_files/Worksheets_Dummy.pdf">Week 3 Worksheet</a>
        </li>
        <li>
          <a href="../dummy_files/Worksheets_solution_Dummy.pdf"
            >Week 3 Worksheet Solution</a
          >
        </li>
      </ul>
    </div>
    <div class="description-row">
      <h2>Week 4: SQL Subqueries and Introduction to Web Development</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
      </ul>
    </div>
    <div class="description-row">
      <h2>Week 5: Introduction to Flask, Introduction to HTML and CSS</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
        <li>
          <a href="../dummy_files/Code_Handout_Dummy.py"
            >Week 5 Code Handouts</a
          >
        </li>
      </ul>
    </div>
    <div class="description-row">
      <h2>Week 6: HTML Forms, CSS Box Model, Flexbox, Grid</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
        <li>
          <a href="../dummy_files/Code_Handout_Dummy.py"
            >Week 6 Code Handouts</a
          >
        </li>
      </ul>
    </div>
    <div class="description-row">
      <h2>Week 7: Media Queries, Introduction to JavaScript</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
        <li>
          <a href="../dummy_files/Code_Handout_Dummy.py"
            >Week 7 Code Handouts</a
          >
        </li>
      </ul>
    </div>
    <div class="description-row">
      <h2>Week 8: Flask and SQL</h2>
      <ul>
        <li>
          <a href="../dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
        </li>
        <li>
          <a href="../dummy_files/Code_Handout_Dummy.py"
            >Week 8 Code Handouts</a
          >
        </li>
      </ul>
    </div>
    <footer>
      <p>
        <strong>CSCB20 - Introduction to Web Application and Database</strong>
      </p>
      <a href="https://web.cs.toronto.edu/people/faculty-directory"
        >Department of Computer Science at U of T</a
      >
      <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
    </footer>
  </body>
</html>
