{% extends 'template.html'  %}
    {% block more_css %}
    <link rel="stylesheet" href="../static/css/lectures.css" />
    {% endblock %}
    {% block content %}
    <main>
      <h1>Lectures</h1>
      <div class="description-grid">
        <div class="description-grid-box">
          <h2>Week 0</h2>
          <h3>Introduction</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Week 1</h2>
          <h3>Relational Algebra</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Worksheets_Dummy.pdf">Week 1 Worksheet</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Worksheets_solution_Dummy.pdf"
                >Week 1 Worksheet Solution</a
              >
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Week 2</h2>
          <h3>Introduction to SQL</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Worksheets_Dummy.pdf">Week 2 Worksheet</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Worksheets_solution_Dummy.pdf"
                >Week 2 Worksheet Solution</a
              >
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Week 3</h2>
          <h3>SQL Queries</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Worksheets_Dummy.pdf">Week 3 Worksheet</a>
            </li>
            <li>
              <a href="../static/src/  dummy_files/Worksheets_solution_Dummy.pdf"
                >Week 3 Worksheet Solution</a
              >
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Week 4</h2>
          <h3>Introduction to Web Development</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Week 5</h2>
          <h3>Introduction to Flask, HTML, and CSS</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Code_Handout_Dummy.py"
                >Week 5 Code Handouts</a
              >
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Week 6</h2>
          <h3>HTML Forms, CSS Box Model, Flexbox, Grid</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Code_Handout_Dummy.py"
                >Week 6 Code Handouts</a
              >
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Week 7</h2>
          <h3>Media Queries, Introduction to JavaScript</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Code_Handout_Dummy.py"
                >Week 7 Code Handouts</a
              >
            </li>
          </ul>
        </div>
        <div class="description-grid-box">
          <h2>Week 8</h2>
          <h3>Flask and SQL</h3>
          <ul>
            <li>
              <a href="../static/src/dummy_files/Lecture_Notes_Dummy.pdf">Lecture notes</a>
            </li>
            <li>
              <a href="../static/src/dummy_files/Code_Handout_Dummy.py"
                >Week 8 Code Handouts</a
              >
            </li>
          </ul>
        </div>
      </div>
    </main>
    {% endblock %}