<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources</title>
    <link rel="stylesheet" href="resources.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- This is the header/navigation bar of the page -->
  <body>
    <header>
      <div class="navbar">
        <a class="navbar-title" href="index.html">CSCB20</a>
        <div class="dropdown">
          <a class="tab">Home</a>
          <div class="dropdown-content">
            <a href="course_description.html">Course Description</a>
            <a href="syllabus.html">Syllabus</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="tab">Material</a>
          <div class="dropdown-content">
            <a href="assignment.html">Assignments</a>
            <a href="lectures.html">Lectures</a>
            <a href="tutorials.html">Labs</a>
          </div>
        </div>
        <a class="tab" href="resources.html">Resources</a>
        <a class="tab" href="calendar.html">Calendar</a>
        <div class="dropdown">
          <a class="tab">Contact</a>
          <div class="dropdown-content">
            <a href="course_team.html">Course Team</a>
            <a href="feedback.html">Feedback</a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <h1>Resources</h1>
      <div class="description-grid">
        <div class="description-grid-box">
          <img src="images/piazza.png" alt="" />
          <h2><a href="https://piazza.com/class/lqy466htv8g5xb">Piazza</a></h2>
          <p>
            Piazza is a discussion board for our course. We encourage you to
            post questions, read and answer the questions your classmates have
            posted!
          </p>
        </div>
        <div class="description-grid-box">
          <img src="images/markus.png" alt="" />
          <h2>
            <a href="https://markus2.utsc.utoronto.ca/courses/20/assignments"
              >MarkUs</a
            >
          </h2>
          <p>
            MarkUs is a platform where you will submit your assignments and
            check the results!
          </p>
        </div>
        <div class="description-grid-box">
          <img src="images/exam.png" alt="" />
          <h2><a href="tests.html">Past Test</a></h2>
          <p>
            Take a look at the past tests to be prepared for your midterm and
            final exam! We encourage you to try writing the past tests first,
            and then look at the solution.
          </p>
        </div>
      </div>
    </main>
    <footer>
      <p>
        <strong>CSCB20 - Introduction to Web Application and Database</strong>
      </p>
      <a href="https://web.cs.toronto.edu/people/faculty-directory"
        >Department of Computer Science at U of T</a
      >
      <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
    </footer>
  </body>
</html>
