{% extends 'template.html' %}
    {% block more_css %}
    <link rel="stylesheet" href="../static/css/resources.css" />
    {% endblock %}
    {% block content %}
    <main>
      <h1>Resources</h1>
      <div class="description-grid">
        <div class="description-grid-box">
          <img src="../static/src/images/piazza.png" alt="" />
          <h2><a href="https://piazza.com/class/lqy466htv8g5xb">Piazza</a></h2>
          <p>
            Piazza is a discussion board for our course. We encourage you to
            post questions, read and answer the questions your classmates have
            posted!
          </p>
        </div>
        <div class="description-grid-box">
          <img src="../static/src/images/markus.png" alt="" />
          <h2>
            <a href="https://markus2.utsc.utoronto.ca/courses/20/assignments"
              >MarkUs</a
            >
          </h2>
          <p>
            MarkUs is a platform where you will submit your assignments and
            check the results!
          </p>
        </div>
        <div class="description-grid-box">
          <img src="../static/src/images/exam.png" alt="" />
          <h2><a href="tests.html">Past Test</a></h2>
          <p>
            Take a look at the past tests to be prepared for your midterm and
            final exam! We encourage you to try writing the past tests first,
            and then look at the solution.
          </p>
        </div>
      </div>
    </main>
    {% endblock %}    
