{% extends 'user_template.html' %} {% block more_css %}
<link rel="stylesheet" href="../static/css/student_grades.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/student_remark.js"></script>
{% endblock %}{% block content %}
<main>
  <h1>CSCB20</h1>
  <div class="assessment-list-box">
    <h2>Assignment</h2>
    <table>
      <thead>
        <th>name</th>
        <th>mark</th>
        <th>submitted date</th>
        <th>status</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Dummy Assignment</td>
          <td>100%</td>
          <td>2024-03-30</td>
          <td>resolved</td>
          <td class="remark-request">
            <button id="view-comment-button">View Comment</button>
          </td>
        </tr>
        {% for grade in grades %}
        <tr>
          <td>{{grade.name}}</td>
          <td>{{grade.mark}}</td>
          <td>{{grad.date}}</td>
          <td class="remark-request">
            <button id="remark-button">Remark Request</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="assessment-list-box">
    <h2>Exam</h2>
    <table>
      <thead>
        <th>name</th>
        <th>mark</th>
        <th>date</th>
        <th></th>
      </thead>
      <tbody>
        {% for grade in grades %}
        <tr>
          <td>{{grade.name}}</td>
          <td>{{grade.mark}}</td>
          <td>{{grad.date}}</td>
          <td class="remark-request">
            <button id="remark-button">Remark Request</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="remark-content" style="display: none">
    <h3>Remark Request</h3>
    <p>
      Make sure you have read the sample solution posted before submitting the
      remark request. If you have, please indicate the question number and
      elaborate the error in the grading.
    </p>
    <form action="" method="">
      <textarea class="input" rows="30" name="input-remark-content"></textarea>
      <button type="submit" style="width: 5rem">Submit</button>
    </form>
  </div>
</main>
{% endblock %}
