{% extends 'user_template.html' %} 
{% block more_css %}
<link rel="stylesheet" href="../static/css/student_grades.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/student_grades.js"></script>
{% endblock %}{% block content %}
<main>
  <h1>CSCB20</h1>
  <div class="assessment-list-box">
    <h2>Assignment</h2>
    <table>
      <thead>
        <th>name</th>
        <th>mark</th>
        <th>date</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Dummy Assignment</td>
          <td>100%</td>
          <td>2024-03-30</td>
          <td class="remark-request">
            <button id="remark-button">Remark Request</button>
          </td>
        </tr>
        {% for grade in assignment_grades %}
        <tr>
          <td>{{grade[0]}}</td>
          <td>{{grade[1]}}</td>
          <td>{{grade[2]}}</td>
          <td class="remark-request">
            <button id="remark-button">Remark Request</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="assessment-list-box">
    <h2>Exam</h2>
    <table>
      <thead>
        <th>name</th>
        <th>mark</th>
        <th>date</th>
        <th></th>
      </thead>
      <tbody>
        {% for grade in exam_grades %}
        <tr>
          <td>{{grade[0]}}</td>
          <td>{{grade[1]}}</td>
          <td>{{grade[2]}}</td>
          <td class="remark-request">
            <button id="remark-button">Remark Request</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="remark-content" style="display: none">
    <h3>Remark Request</h3>
    <p>
      Make sure you have read the sample solution posted before submitting the
      remark request. If you have, please indicate the question number and
      elaborate the error in the grading.
    </p>
    <form action="http://127.0.0.1:5000/remark_request" method="POST">
      <textarea class="input" rows="30" name="input-remark-content"></textarea>
      <button id='submit-regrade-request-btn' type="submit" style="width: 5rem">Submit</button>
    </form>
  </div>
</main>
{% endblock %}
