{% extends 'user_template.html' %} {% block more_css %}
<link rel="stylesheet" href="../static/css/student_remark.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/student_remark.js"></script>
{% endblock %}{% block content %}
<main>
  <h1>CSCB20</h1>
  <div class="assessment-list-box">
    <h2>Assignment</h2>
    <table>
      <thead>
        <th>name</th>
        <th>mark</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Dummy Assignment</td>
          <td>100%</td>
          <td class="view-comment">
            <button id="view-comment-button">View Comment</button>
          </td>
        </tr>
        {% for remark in remark_results %}
        <tr>
          <td>{{remark.name}}</td>
          <td>{{remark.mark}}</td>
          <td class="view-comment">
            <button id="view-comment-button">View Comment</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="assessment-list-box">
    <h2>Exam</h2>
    <table>
      <thead>
        <th>name</th>
        <th>mark</th>
        <th></th>
      </thead>
      <tbody>
        {% for remark in remark_results %}
        <tr>
          <td>{{remark.name}}</td>
          <td>{{remark.mark}}</td>
          <td class="view-comment">
            <button id="view-comment-button">View Comment</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="comment-content" style="display: none">
    <div class="content-header">
      <h3>Comment</h3>
      <button>
        <img
          id="close-button"
          src="../static/src/images/close.png"
          alt="close-button"
          style="width: 50%; justify-self: end; background-color: none"
        />
      </button>
    </div>
    <p>{{comment}}</p>
  </div>
</main>
{% endblock %}
