{% extends 'user_template.html' %} {% block more_css %}
<link rel="stylesheet" href="../static/css/student_grades.css" />
{% endblock %} {% block more_script %}
<script src="../static/js/student_grades.js" defer></script>
{% endblock %} {% block custom_menu %}
<a href="student_grades.html"><li>My Grades</li></a>
<a href="student_remark.html"><li>My Remark Requests</li></a>
{% endblock%} {% block content %}
<main>
  <h1>CSCB20</h1>
  <div class="assessment-list-box">
    <h2>Assignment</h2>
    <table>
      <thead>
        <th>name</th>
        <th>mark</th>
        <th>date</th>
        <th></th>
      </thead>
      <tbody>
        {% for grade in assignment_grades %}
        <tr>
          <td style="display: none" class="grade-id">{{grade[0]}}</td>
          <td>{{grade[1]}}</td>
          <td>{{grade[2]}}</td>
          <td>{{grade[3]}}</td>
          <td class="remark-request">
            <button class="remark-button">Remark Request</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="assessment-list-box">
    <h2>Exam</h2>
    <table>
      <thead>
        <th>name</th>
        <th>mark</th>
        <th>date</th>
        <th></th>
      </thead>
      <tbody>
        {% for grade in exam_grades %}
        <tr>
          <td style="display: none" class="grade-id">{{grade[0]}}</td>
          <td>{{grade[1]}}</td>
          <td>{{grade[2]}}</td>
          <td>{{grade[3]}}</td>
          <td class="remark-request">
            <button class="remark-button">Remark Request</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="remark-content" style="display: none">
    <div class="content-header">
      <h3>Remark Request</h3>
      <button class="close-button">
        <img
          id="close-button"
          src="../static/src/images/close.png"
          alt="close-button"
          style="width: 50%; background-color: none"
        />
      </button>
    </div>
    <p>
      Make sure you have read the sample solution posted before submitting the
      remark request. If you have, please indicate the question number and
      elaborate the error in the grading.
    </p>
    <form id="regrade-request-form">
      <textarea class="input" rows="30" name="input-remark-content"></textarea>
      <button id="submit-regrade-request-btn" type="submit" style="width: 5rem">
        Submit
      </button>
    </form>
  </div>
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <p style="color: green">{{ message }}</p>
  {% endfor %} {% endif %} {% endwith %}
</main>
{% endblock %}
