{% extends 'template.html' %}
{% block more_css %}
  <link rel="stylesheet" href="static/css/syllabus.css" /> 
{% endblock %}
{% block content %}
    <main>
      <h1>Syllabus</h1>
      <div class="wrapper">
        <div class="file">
          <a
            href="../static/src/dummy_files/CSCB20 Winter 2024 Course Information Sheet.pdf"
            download
            >CSCB20 Introduction to Databases and Web application - Winter
            2024</a
          >
        </div>
        <div class="display">
          <iframe
            title="title"
            src="../static/src/dummy_files/CSCB20 Winter 2024 Course Information Sheet.pdf"
          ></iframe>
        </div>
      </div>
    </main>
{% endblock %}
