<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/index.css" />
    {% block more_css %} {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/'" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="../static/js/navbar.js" defer></script>
    {% if pagename %}
    <title>{{pagename}}</title>
    {% else %}
    <title>CSCB20</title>
    {% endif %}
  </head>
  <body>
    <header>
      <div class="navbar">
        <a class="navbar-title" href="index.html">CSCB20</a>
        <div class="navbar-filler">
          <div
            class="menu-button"
            onclick="menuBarClicked(this, document.querySelector('.tab-grid'))"
          >
            <div class="menu-bar1"></div>
            <div class="menu-bar2"></div>
            <div class="menu-bar3"></div>
          </div>
        </div>
        <div class="tab-grid">
          <div class="dropdown">
            <a
              class="tab"
              id="tab"
              onclick="showDropdown(document.getElementById('dropdown-content-mobile-home'))"
              >Home</a
            >
            <div class="dropdown-content">
              <a href="syllabus.html">Syllabus</a>
            </div>
          </div>
          <div
            class="dropdown-content-mobile"
            id="dropdown-content-mobile-home"
          >
            <a class="dropdown-tab" href="syllabus.html">Syllabus</a>
          </div>
          <div class="dropdown">
            <a
              class="tab"
              onclick="showDropdown(document.getElementById('dropdown-content-mobile-material'))"
              >Material</a
            >
            <div class="dropdown-content">
              <a href="assignment.html">Assignments</a>
              <a href="lectures.html">Lectures</a>
              <a href="tutorials.html">Labs</a>
            </div>
          </div>
          <div
            class="dropdown-content-mobile"
            id="dropdown-content-mobile-material"
          >
            <a class="dropdown-tab" href="assignment.html">Assignments</a>
            <a class="dropdown-tab" href="lectures.html">Lectures</a>
            <a class="dropdown-tab" href="tutorials.html">Labs</a>
          </div>
          <a class="tab" href="resources.html">Resources</a>
          <a class="tab" href="calendar.html">Calendar</a>
          <div class="dropdown">
            <a
              class="tab"
              onclick="showDropdown(document.getElementById('dropdown-content-mobile-contact'))"
              >Contact</a
            >
            <div class="dropdown-content">
              <a href="course_team.html">Course Team</a>
              {% if user_type != 'instructor' %}
              <a href="feedback.html">Feedback</a>
              {% endif %}
            </div>
          </div>
          <div
            class="dropdown-content-mobile"
            id="dropdown-content-mobile-contact"
          >
            <a class="dropdown-tab" href="course_team.html">Course Team</a>
            {% if user_type != 'instructor' %}
            <a class="dropdown-tab" href="feedback.html">Feedback</a>
            {% endif %}
          </div>
          <div class="dropdown">
            <a
              class="tab-profile"
              onclick="showDropdown(document.getElementById('dropdown-content-mobile-profile'))"
              >My Profile</a
            >
          </div>
          <div
            class="dropdown-content-mobile"
            id="dropdown-content-mobile-profile"
          >
            {% if user_type == 'instructor' %}
            <a class="dropdown-tab" href="instructor_grades.html"
              >Manage Grades</a
            >
            {% else %}
            <a class="dropdown-tab" href="student_grades.html">My Grades</a>
            {% endif %}
            <form method="POST" action="127.0.0.1:5000/logout">
              <a class="dropdown-tab" id="logout-mobile">Logout</a>
            </form>
          </div>
        </div>
        <div class="profile-container">
          <a class="profile-tab" id="profile-tab">
            <div class="profile-icon-container" id="profile-icon-container">
              <!-- Add a profile photo -->
              <img
                alt="profile-image"
                src="../static/src/images/account.png"
                style="
                  filter: invert(100%) sepia(97%) saturate(12%)
                    hue-rotate(197deg) brightness(103%) contrast(100%);
                "
              />
            </div>
          </a>
          <div class="dropdown-content">
            {% if user_type == 'instructor' %}
            <a class="dropdown-tab" href="instructor_grades.html"
              >Manage Grades</a
            >
            {% else %}
            <a class="dropdown-tab" href="student_grades.html">My Grades</a>
            {% endif %}
            <form method="POST" action="127.0.0.1:5000/logout">
              <a class="dropdown-tab" id="logout">Logout</a>
            </form>
          </div>
        </div>
      </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
      <div class="footer-desc">
        <h3 style="margin: 0.5rem">
          CSCB20 - Introduction to Web Application and Database
        </h3>
        <a
          style="margin: 0.5rem"
          href="https://web.cs.toronto.edu/people/faculty-directory"
          >Department of Computer Science at U of T</a
        >
        <p style="margin: 0.5rem">
          Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen
        </p>
      </div>
      <div class="footer-nav">
        <table>
          <thead>
            <tr>
              <th>Home</th>
              <th>Material</th>
              <th>Resources</th>
              <th>Calendar</th>
              <th>Contact</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="index.html">Home</a></td>
              <td><a href="assignment.html">Assignments</a></td>
              <td><a href="resources.html">Resources</a></td>
              <td><a href="calendar.html">Calendar</a></td>
              <td><a href="course_team.html">Course Team</a></td>
            </tr>
            <tr>
              <td><a href="syllabus.html">Syllabus</a></td>
              <td><a href="lectures.html">Lectures</a></td>
              <td></td>
              <td></td>
              {% if user_type != 'instructor' %}
              <td><a href="feedback.html">Feedback</a></td>
              {% endif %}
            </tr>
            <tr>
              <td></td>
              <td><a href="tutorials.html">Labs</a></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </footer>
  </body>
</html>
