<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CSCB20 Test Information</title>
        <link rel="stylesheet" href="../static/test.css">
        <link rel="stylesheet" href="../static/index.css">
        <!-- <link href='https://fonts.googleapis.com/css?family=Merriweather Sans' rel='stylesheet'> -->
        <link rel="preconnect" href="https://fonts.googleapis.com/" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>

    <!-- This is the header/navigation bar of the page -->
        <header>
            <div class="navbar">
                <a class="navbar-title" href="#">CSCB20</a>
                <div class="dropdown">
                    <a class="tab">Home</a>
                    <div class="dropdown-content">
                        <a href="course_description.html">Course Description</a>
                        <a href="syllabus.html">Syllabus</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="tab">Material</a>
                    <div class="dropdown-content">
                        <a href="assignments.html">Assignments</a>
                        <a href="lectures.html">Lectures</a>
                        <a href="tutorials.html">Labs</a>
                    </div>
                </div>
                <a class="tab" href="resources.html">Resources</a>
                <a class="tab" href="calendar.html">Calendar</a>
                <div class="dropdown">
                    <a class="tab">Contact</a>
                    <div class="dropdown-content">
                        <a href="course_team.html">Course Team</a>
                        <a href="feedback.html">Feedback</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- This is the main body of the page -->
        <h1>Test Information and Past Test</h1>

        <img class="test-image" src="../images/TestInfo.png" alt="2017 Midterm Information">

        <div class="description-flex">
            <h2>2016 Winter Midterm</h2>
            <ul>
                <li><a href="../dummy_files/Past_Midterm_Test_Dummy.pdf">Sample Test</li>
                <li><a href="../dummy_files/Past_Midterm_Solution_Dummy.pdf">Solution</li>
            </ul>
        </div>

        <footer>
            <p>CSCB20 - Introduction to Web Application and Database</p>
            <a href="https://web.cs.toronto.edu/people/faculty-directory"
                >Department of Computer Science at U of T</a
            >
            <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
        </footer>
    </body>
</html>