{% extends 'template.html' %}
{% block more_css %}
  <link rel="stylesheet" href="../static/css/test.css" /> 
{% endblock %}
{% block content %}
    <main>
      <!-- This is the main body of the page -->
      <h1>Test Information and Past Test</h1>

      <img class="test-image" src="../static/src/images/TestInfo.png" alt="2017 Midterm Information">

      <div class="description-grid">
        <div class="description-grid-box">
          <h2>2016 Winter Midterm</h2>
          <ul>
              <li><a href="../static/src/dummy_files/Past_Midterm_Test_Dummy.pdf">Sample Test</li>
              <li><a href="../static/src/dummy_files/Past_Midterm_Solution_Dummy.pdf">Solution</li>
          </ul>
        </div>
      </div>
    </main>
{% endblock %}