{% extends 'template.html' %}
{% block more_css %}
  <link rel="stylesheet" href="../static/css/tutorial.css" /> 
{% endblock %}
{% block content %}
    <main>
      <!-- This is the main body of the page -->
      <h1>Tutorial</h1>

      <div class="description-grid">
        <div class="description-grid-box">
          <h2>Week 1</h2>
          <h3 class="subtitle">Week of January 15th, 2024</h3>
          <h3>Overview</h3>
          <p>
            A quick speed-refresher of Python. We go over variables, functions,
            string methods, lists, loops, and basic I/O. The material covered
            today will be especially relevant to those who have not taken one of
            A08, A48, or A20
          </p>
          <div class="button-div">
            <a class="button-a" href="../static/src/dummy_files/Tutorial_Worksheet_Dummy.pdf"
              ><button>Worksheet</button></a
            >
            <a
              class="button-a"
              href="../static/src/dummy_files/Tutorial_Worksheet_Solution_Dummy.pdf"
              ><button>Solution</button></a
            >
          </div>
        </div>

        <div class="description-grid-box">
          <h2>Week 2</h2>
          <h3 class="subtitle">Week of January 22nd, 2024</h3>
          <h3>Overview</h3>
          <p>
            Relational algebra. In this tutorial, we go over relational algebra
            and writing relational algebra to perform queries. We also introduce
            SQLite and basic SQL concepts.
          </p>
          <div class="button-div">
            <a class="button-a" href="../static/src/dummy_files/Tutorial_Worksheet_Dummy.pdf"
              ><button>Worksheet</button></a
            >
            <a
              class="button-a"
              href="../static/src/dummy_files/Tutorial_Worksheet_Solution_Dummy.pdf"
              ><button>Solution</button></a
            >
          </div>
        </div>

        <div class="description-grid-box">
          <h2>Week 3</h2>
          <h3 class="subtitle">Week of January 29th, 2024</h3>
          <h3>Overview</h3>
          <p>
            For this week, we will be extracting actual data out of databases so
            you will be required to have SQLite in order to complete the lab.
            Additionally, you may find the SQLite Browser helpful to use.
          </p>
          <div class="button-div">
            <a class="button-a" href="../static/src/dummy_files/Tutorial_Worksheet_Dummy.pdf"
              ><button>Worksheet</button></a
            >
            <a
              class="button-a"
              href="../static/src/dummy_files/Tutorial_Worksheet_Solution_Dummy.pdf"
              ><button>Solution</button></a
            >
          </div>
        </div>

        <div class="description-grid-box">
          <h2>Week 4</h2>
          <h3 class="subtitle">Week of Feburary 5th, 2024</h3>
          <h3>Overview</h3>
          <p>
            In this tutorial, you will learn about more SQL queries that include
            Views, Group By and brief introduction to HTML.
          </p>
          <div class="button-div">
            <a class="button-a" href="../static/src/dummy_files/Tutorial_Worksheet_Dummy.pdf"
              ><button>Worksheet</button></a
            >
            <a
              class="button-a"
              href="../static/src/dummy_files/Tutorial_Worksheet_Solution_Dummy.pdf"
              ><button>Solution</button></a
            >
          </div>
        </div>

        <div class="description-grid-box">
          <h2>Week 5</h2>
          <h3 class="subtitle">Week of Feburary 12th, 2024</h3>
          <h3>Overview</h3>
          <p>In this tutorial, you will learn about Python Flask.</p>
          <div class="button-div">
            <a class="button-a" href="../static/src/dummy_files/Tutorial_Worksheet_Dummy.pdf"
              ><button>Worksheet</button></a
            >
            <a
              class="button-a"
              href="../static/src/dummy_files/Tutorial_Worksheet_Solution_Dummy.pdf"
              ><button>Solution</button></a
            >
          </div>
        </div>

        <div class="description-grid-box">
          <h2>Week 6</h2>
          <h3 class="subtitle">Week of Feburary 19th, 2024</h3>
          <h3>Overview</h3>
          <p>In this tutorial, you will learn about HTML, CSS, and Flask</p>
          <div class="button-div">
            <a class="button-a" href="../static/src/dummy_files/Tutorial_Worksheet_Dummy.pdf"
              ><button>Worksheet</button></a
            >
            <a
              class="button-a"
              href="../static/src/dummy_files/Tutorial_Worksheet_Solution_Dummy.pdf"
              ><button>Solution</button></a
            >
          </div>
        </div>
      </div>
    </main>
{% endblock %}
