<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Tutorial</title>
    <link rel="stylesheet" href="../static/tutorial.css">
    <link rel="stylesheet" href="../static/index.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Merriweather Sans' rel='stylesheet'> -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <!-- This is the header/navigation bar of the page -->
    <header>
        <div class="navbar">
            <a class="navbar-title" href="#">CSCB20</a>
            <div class="dropdown">
                <a class="tab">Home</a>
                <div class="dropdown-content">
                    <a href="#">Course Description</a>
                    <a href="#">Syllabus</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="tab">Material</a>
                <div class="dropdown-content">
                    <a href="#">Assignments</a>
                    <a href="#">Lectures</a>
                    <a href="#">Labs</a>
                </div>
            </div>
            <a class="tab" href="#">Resources</a>
            <a class="tab" href="#">Calendar</a>
            <div class="dropdown">
                <a class="tab">Contact</a>
                <div class="dropdown-content">
                    <a href="#">Course Team</a>
                    <a href="#">Feedback</a>
                </div>
            </div>
        </div>
    </header>

    <!-- This is the main body of the page -->
    <h1>Tutorial</h1>

    <div class="description-col">
      <div class="description-col-box">
        <h2>Week 1</h2>
        <h3 class="subtitle">Week of January 15th, 2024</h3>
        <h3>Overview</h3>
        <p>A quick speed-refresher of Python. We go over variables, functions, string methods, lists, loops, and basic I/O.  The material covered today will be especially relevant to those who have not taken one of A08, A48, or A20</p>
        <div class="button-div">
          <button>Worksheet</button>
          <button>Solution</button>
        </div>
      </div>

      <div class="description-col-box">
        <h2>Week 2</h2>
        <h3 class="subtitle">Week of January 15th, 2024</h3>
        <h3>Overview</h3>
        <p>Relational algebra. In this tutorial, we go over relational algebra and writing relational algebra to perform queries. We also introduce SQLite and basic SQL concepts.</p>
        <div class="button-div">
          <button>Worksheet</button>
          <button>Solution</button>
        </div>
      </div>

      <div class="description-col-box">
        <h2>Week 3</h2>
        <h3 class="subtitle">Week of January 29th, 2024</h3>
        <h3>Overview</h3>
        <p>For this week, we will be extracting actual data out of databases so you will be required to have SQLite in order to complete the lab. Additionally, you may find the SQLite Browser helpful to use.</p>
        <div class="button-div">
          <button>Worksheet</button>
          <button>Solution</button>
        </div>
      </div>

      <div class="description-col-box">
        <h2>Week 4</h2>
        <h3 class="subtitle">Week of Feburary 5th, 2024</h3>
        <h3>Overview</h3>
        <p>In this tutorial, you will learn about more SQL queries that include Views, Group By and brief introduction to HTML.</p>
        <div class="button-div">
          <button>Worksheet</button>
          <button>Solution</button>
        </div>
      </div>

      <div class="description-col-box">
        <h2>Week 5</h2>
        <h3 class="subtitle">Week of Feburary 12th, 2024</h3>
        <h3>Overview</h3>
        <p>In this tutorial, you will learn about Python Flask.</p>
        <div class="button-div">
          <button>Worksheet</button>
          <button>Solution</button>
        </div>
      </div>

      <div class="description-col-box">
        <h2>Week 6</h2>
        <h3 class="subtitle">Week of Feburary 19th, 2024</h3>
        <h3>Overview</h3>
        <p>In this tutorial, you will learn about HTML, CSS, and Flask</p>
        <div class="button-div">
          <button>Worksheet</button>
          <button>Solution</button>
        </div>
      </div>
    </div>

    <!-- This is the footer of the page -->
    <footer>
      <p>CSCB20 - Introduction to Web Application and Database</p>
      <a href="https://web.cs.toronto.edu/people/faculty-directory"
        >Department of Computer Science at U of T</a
      >
      <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
    </footer>
  </body>
</html>
