<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Tutorial</title>
    <link rel="stylesheet" href="../static/tutorial.css">
    <link rel="stylesheet" href="../static/index.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather Sans' rel='stylesheet'>
  </head>
  <body>

    <!-- This is the header/navigation bar of the page -->
    <header>
        <div class="navbar">
            <a class="navbar-title" href="#">CSCB20</a>
            <div class="dropdown">
                <a class="tab">Home</a>
                <div class="dropdown-content">
                    <a href="#">Course Description</a>
                    <a href="#">Syllabus</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="tab">Material</a>
                <div class="dropdown-content">
                    <a href="#">Assignments</a>
                    <a href="#">Lectures</a>
                    <a href="#">Labs</a>
                </div>
            </div>
            <a class="tab" href="#">Resources</a>
            <a class="tab" href="#">Calendar</a>
            <div class="dropdown">
                <a class="tab">Contact</a>
                <div class="dropdown-content">
                    <a href="#">Course Team</a>
                    <a href="#">Feedback</a>
                </div>
            </div>
        </div>
    </header>

    <!-- This is the main body of the page -->
    <div class="page-title">
      <h1>Tutorial</h1>
    </div>

    <!-- This is the footer of the page -->
    <footer>
      <p>CSCB20 - Introduction to Web Application and Database</p>
      <a href="https://web.cs.toronto.edu/people/faculty-directory"
        >Department of Computer Science at U of T</a
      >
      <p>Site designed by Bomin Kim, Taemin Lee, and Paul Nguyen</p>
    </footer>
  </body>
</html>
