@import url(index.css);

h2 {
    text-align: center;
}

.feedback-box-wraper {
    display: grid;
    width: 80vw;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 50vh 50vh;
    place-items: center;
    justify-content: space-evenly;
}

.feedback-box {
    display: grid;
    grid-template-rows: 20% 70% 10%;
    width: 35vw;
    height: 40vh;
    padding: 2rem;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 5px;
}

.button-box {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

button {
    border-style: hidden;
    border-radius: 0.5rem;
    width: 10vw;
    font-family: 'Merriweather Sans';
    color: #444;
}

textarea {
    font-family:"Merriweather Sans";
    width: 35vw;
    resize: none;
    border-style: hidden;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
}

