@import url(index.css);

.description-grid-box {
    min-height: 30vh;
}

body {
    margin-top: 100px;
}

h1 {
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 18px;
}