@import url(index.css);

.description-grid {
    justify-items: center;
}

.description-grid-box {
    display: grid;
    min-height: 45vh;
    grid-template-rows: auto auto auto;
}

.description-grid-box p {
    justify-self: center;
    align-self: start;
}

.description-grid-box h2 {
    justify-self: center;
    align-self: center;
}

img {
    justify-self: center;
    align-self: center;
    max-width: 10vw;
    height: auto;
}