@import url(index.css);

.test-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 1px 1px 5px;
}

h2 {
    text-align: center;
}

.description-grid {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 2rem;
}

.description-grid-box {
    justify-self: center;
    min-width: 60vw;
}